.left {
  float: left;
}

.right {
  float: right;
}

.box {
  width: 20%;
  border: 2px solid blue;
  margin-bottom: 10px;
  padding: 4px;
  margin 12px;
  background-color: orange;
  box-sizing: border-box;
}
